* {
    margin: 0;
    padding: 0;
}

div {
    margin: 30px;
    padding: 30px;
}

table {
    border: 1px solid black;
    width: 300px;
    
}

table tr td {
    border: 1px solid black;
    width: 100px;
    height: 15px;

}

table img {
    width: 35px;
    height: 35px;
}

.tr1 {
    text-align: center;
}

.td1 {
    text-align: center;
}
